<h2>Inflation</h2>
<p>This section covers key inflation indicators.</p>


<div>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>12-Month</th>
                <th>1-Month</th>
                <th>3-Month</th>
                <th>Latest Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href=" {{ cpi_url }} ">CPI</a></td>
                <td>{{ cpi_12_month }}</td>
                <td>{{ cpi_1_month }}</td>
                <td>{{ cpi_3_month }}</td>
                <td>{{ cpi_date }}</td>
            </tr>

        </tbody>
    </table>

    <br>
    <!-- Add an image -->
    <!-- <img src="images/inflation_chart.png" alt="Inflation" style="width: 100%; height: auto;"> -->
    <img src="images/inflation_chart.png" alt="Inflation" >

</div>