<h2>Inflation</h2>
<p>This section covers key inflation indicators.</p>


<div>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Latest Date</th>
                <th>1-Month</th>
                <th>3-Month</th>
                <th>6-Month</th>
                <th>12-Month</th>
                <th>Annualized 1-Month</th>
                <th>Annualized 3-Month</th>
                <th>Annualized 6-Month</th>
            </tr>
        </thead>
            <tbody>
            {% for row in rows %}
            <tr>
                <td>
                    <a href="{{ row.url }}" >{{ row.display_name }}</a>
                </td>
                <td>{{ row.latest_date }}</td>
                <td>{{ row.one_month }}</td>
                <td>{{ row.three_month }}</td>
                <td>{{ row.six_month }}</td>
                <td>{{ row.twelve_month }}</td>
                <td>{{ row.annualized_one_month }}</td>
                <td>{{ row.annualized_three_month }}</td>
                <td>{{ row.annualized_six_month }}</td>
            </tr>
            {% endfor %}     

        </tbody>

    </table>

    <br>

    <div style="text-align: center; margin: 20px 0;">
        <div style="max-width: 1200px; margin: 0 auto;">
            {{ chart_html | safe }}
        </div>
    </div>
    

</div>